
<div class="columns">
  <div id="cardcointainerleft">


      <mat-list>
        <mat-list-item> <span class="detail-label">Title: </span> </mat-list-item>
        <mat-list-item> <span class="detail-label"> Year: </span> </mat-list-item>
        <mat-list-item> <span class="detail-label">Runtime:</span> </mat-list-item>
        <mat-list-item> <span class="detail-label"> Genre: </span> </mat-list-item>


      </mat-list>



  </div>

  <div id="cardcointainerright">


      <mat-list>
        <mat-list-item> <span class="detail-label">Director</span>: </mat-list-item>
        <mat-list-item> <span class="detail-label">Actors</span>: </mat-list-item>
        <mat-list-item> <span class="detail-label">Writer</span>: </mat-list-item>
        <mat-list-item> <span class="detail-label">Awards</span>: </mat-list-item>
      </mat-list>



  </div>



</div>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="detail-label">Ratings</span>
    </mat-panel-title>
    <mat-panel-description>
      Show
    </mat-panel-description>

  </mat-expansion-panel-header>

</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="detail-label">Movie Plot</span>
    </mat-panel-title>
    <mat-panel-description>
      Show

    </mat-panel-description>



  </mat-expansion-panel-header>

  <p> orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
    Aldus PageMaker including versions of Lorem Ipsum. </p>
</mat-expansion-panel>

